{
    "presets": [
        [
            "@babel/preset-env",
            {
                "useBuiltIns": "entry",
                "corejs": 3
            }
        ],
        "@babel/preset-react"
    ],
    "plugins": [
        "@babel/plugin-proposal-optional-chaining",
        [
            "module-resolver", 
            {
                "root": [
                    "./src"
                ],
                "alias": {
                    "@store": "./src/app-store",
                    "@util": "./src/util",
                    "@components": "./src/components",
                    "@assets": "./src/assets"
                }
            }
        ]
    ],
    "env": {
        "development": {
            "plugins": [
                "react-hot-loader/babel"
            ]       
        },
        "production": {
            "plugins": []
        }
    }
}
