{
    "presets": [
        [
            "@babel/preset-env",
            {
                "useBuiltIns": "usage",
                "corejs": 3,
                "shippedProposals": true
            }
        ],
        "@babel/preset-react"
    ],
    "plugins": [
        "@babel/plugin-proposal-optional-chaining"
    ],
    "env": {
        "development": {
            "plugins": [
                "react-hot-loader/babel"
            ]       
        },
        "production": {
            "plugins": []
        }
    }
}
